body {
    text-rendering: optimizeLegibility;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    font-size: 1.3em;
}

.topbar {
    height: 0.5em;
    background: #cc2a06;
    grid-column: span 12;
}

header, nav, .section-head {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

header, nav {
    background: #eb2f06;
    color: white;
    padding: 0 0.2em;
}

header {
    grid-column: span 12;
    padding: 0.8em 0 0 0;
    text-align: center;
}

header .title {
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

nav {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    padding: 1.2em 0.2em;
    box-shadow: 0 1px 1px #aaa;
}

nav .navlinks {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
}

header a, header a:visited, nav a, nav a:visited {
    color: white;
    text-decoration: none;
    letter-spacing: 0.05em;
    text-align: center;
    transition: 0.2s
}

nav a, nav a:visited {
    text-transform: lowercase;
}

header a:hover, nav a:hover {
    opacity: 0.85;
}

.content {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.45;
    grid-column: col-start 2 / span 10;
    margin-bottom: 1.5em;
    width: 100%;
}

section {
    margin-top: 2em;
}

section.footnotes {
  margin-top: 0em;
}

.home-head {
    display: grid;
    grid-gap: 1em;
    grid-template-column: 1fr;
    grid-template-areas: "image" "blurb";
}

.home-head .blurb, .home-head .me {
    align-self: center;
}

.home-head .blurb {
    grid-area: blurb;
    font-size: 0.9em;
}

.home-head .me {
    grid-area: image;
    text-align: center;
}

.home-head .me img {
    width: 60%;
    border-radius: 100%;
}

.section-head, .copy h1 {
    font-size: 1.1em;
    color: #eb2f06;
    border-bottom: 2px solid #eb2f06;
    display: grid;
    grid-gap: 0.3em;
    grid-template: "date" "title";
}

.section-head.archive-head {
    grid-template: "title rss";
}

.copy h1 {
    margin-bottom: 0;
}

.section-body {
    font-size: 0.9em;
    line-height: 1.45;
}

.pubs, .posts {
    list-style: none;
    padding: 0;
}

.pub {
    text-align: left;
    word-spacing: .05em;
    margin-bottom: 1.5em;
}

.pub .pub-extras p {
    margin: 0;
}

.navlinks a:before, .pub .pub-extras a:before {
    content: '[';
}

.navlinks a:after, .pub .pub-extras a:after {
    content: ']';
}

.content a, .content a:visited {
    color: #eb2f06;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.post {
    margin: 1.5em 0;
    display: grid;
    grid-template: "date" "title";
}

.post:first-child {
    margin-top: 0;
}

.post-desc {
    margin-top: .25em;
}

.post-title, .archive-title {
    grid-area: title;
    justify-self: left;
}

.post-date {
    grid-area: date;
    color: #eb2f06;
}

.archive-rss {
    grid-area: rss;
    justify-self: right;
}

.archive-rss img {
    height: 1em;
    width: 1em !important;
}

.content figure, .content .center {
    text-align: center;
}

.content pre, .content code {
    font-family: "Fira Code", "Fira Mono", monospace;
}

.content pre, .content div.sourceCode {
    font-size: 0.9em;
    text-align: left;
}

.content pre {
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    background: #f5f5f5;
    padding: 1em;
    border-radius: 0.2em;
    overflow: auto;
    overflow-y: hidden;
}

.content .sourceCode a.sourceLine, .content .sourceCode a:visited.sourceLine {
    color: black;
}

.content .sourceCode a:hover.sourceLine {
    text-decoration: none;
}

pre code.sourceCode {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #eb2f06;
    background-color: #ffebe7;
    border-radius: 4px;
}

pre code, code.sourceCode {
    color: black;
    background: transparent;
}

.content p {
    margin: 0.8em 0;
}

hr {
    border: 0;
    border-top: 2px solid #eb2f06;
    width: 100%;
}

.content img {
    width: 100%;
}

.content .copy {
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    max-width: 720px;
    margin: auto;
    margin-top: 2.5em;
}

.content .copy p {
    text-align: justify;
}

.content .copy .blurb, .copy figcaption {
    font-size: 0.9em;
}

.copy blockquote {
    border-left: 0.25em solid #eb2f06;
    margin: 0.5em 0 0.5em -0.25em;
    padding: 0 2em;
    font-style: italic;
}

.copy blockquote cite::before {
    content: '\2014 ';
}

.copy blockquote cite {
    display: block;
    margin-top: -0.5em;
    text-align: right;
    font-style: normal;
}

.copy ul {
    list-style: none;
    padding-left: 2.2em;
}

.copy ul li::before {
    font-family: Helvetica !important;
    content: '\2605';
    color: #eb2f06;
    margin-left: -1.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
    font-style: normal;
}

.copy ul.posts {
    list-style: unset;
    padding-left: unset;
}

.copy ul li.post::before {
    content: unset;
}

.copy blockquote ol:not(:first-child), .copy blockquote ul:not(:first-child) {
    margin-top: -0.5em;
}

.copy .footnote-back {
    padding-left: 0.3em;
}

@media (min-width: 400px) {
    nav .navlinks {
        grid-column: col-start 2 / span 10;
    }
}

@media (min-width: 700px) {
    nav {
        padding: 1.2em;
    }

    .content, nav .navlinks {
        grid-column: col-start 3 / span 8;
    }

    .home-head {
        grid-template-columns: 5fr 2fr;
        grid-template-areas: "blurb image";
    }

    .home-head .me img {
        width: 100%;
    }

    .post {
        grid-template-columns: 1fr 1fr;
        grid-template: "title date";
    }

    .post-date {
        justify-self: right;
    }

    .post-desc {
        grid-column: span 2;
    }

    .section-head {
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template: "title date";
    }

    .content pre, .content div.sourceCode {
        font-size: 1em;
    }

    .content img {
        width: 75%;
    }

    .section-body {
        display: grid;
    }

    .content pre, .content div.sourceCode {
        justify-self: center;
        overflow: auto;
    }

    .content pre {
        max-width: 420px;
    }
}

@media (min-width: 890px) {
    nav .navlinks {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1080px) {
    .content pre {
        max-width: 720px;
        max-width: calc(720px - 2em);
    }
}

@media (min-width: 1260px) {
    .home-head .blurb {
        font-size: 1em;
    }
}

@media (min-width: 1440px) {
    .home-head .blurb {
        font-size: 1.1em;
    }
}
