<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aaron Weiss / {{ title }}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="./favicon-128x128.png">
    <link rel="me" href="https://github.com/aatxe">
    <link rel="me" href="https://twitter.com/aatxe">
    <link href="/master.css" rel="stylesheet">
  </head>
  <body>
    <div class="topbar"></div>
    <header>
      <a href="/"><span class="title">&lambda;. Aaron Weiss</span></a>
    </header>
    <nav>
      <div class="navlinks">
        <a href="/archive/">Blog</a>
        <a href="/aweiss-resume.pdf">CV</a>
        <a href="mailto:aweiss@hey.com">Email</a>
        <a href="https://github.com/aatxe">GitHub</a>
        <a href="https://twitter.com/aatxe">Twitter</a>
        <a href="https://keybase.io/awe">Keybase</a>
      </div>
    </nav>
    <article class="content">
      {% block main %}{% endblock %}
    </article>
    <noscript id="deferred-styles">
      <link href="https://code.cdn.mozilla.net/fonts/fira.css" rel=" stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet"/>
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
  </body>
</html>
